$yellow: rgb(255, 165, 0);
$text-color: #FFFFFF;
$darkblue: #0c2032;
$lightblue: rgb(27, 49, 71);

body {
	background-color: $lightblue;
	color: $text-color;
}

h1 {
	text-align: center;
}

#login-buttons {
	@media (min-width: 800px) {
		$width: 10vw;
		position: fixed;
		width: $width;
		right: 2vw;
		.login-link-text {
			position:absolute;
			right: 0;
		}
		.accounts-dialog {
			width: $width;
		}
	}

	@media (max-width: 800px) {
		width: 80vw;
		margin: 0 auto;
		text-align: center;
	}

	.login-link-text {
		border-radius: 3px;
		padding: 3px;
		margin: 3px;
		color: $text-color;
		font-weight: bolder;
		background-color: $darkblue;
		text-decoration: none;
	}
}

#admin-panel {
	@media (min-width: 600px) {
		width: 450px;
		margin: 0 auto;
	}

	text-align: center;
}

button {
	border-radius: 3px;
	border-color: $lightblue;
	color: $yellow;
	background-color: $lightblue;
}

.games-list {
	list-style-type: none;
	width: 20vw;
	li {
		border-radius: 3px;
		border: 1px solid $darkblue;
		background-color: $darkblue;
		margin: 2px;
		position: relative;
		.immerse {
			border: none;
			position: absolute;
			right: 10%;
			height: 80%;
			top: 10%;
			width: 30%;
			font-size: 200%;
		}
	}

	@media (max-width: 600px) {
		width: 80vw;
		margin: 0 auto;
	}
}
