$yellow: rgb(255, 165, 0);
$darkblue: #0c2032;
$lightblue: rgb(27, 49, 71);
$topheader: 30px;


$text-color: #FFFFFF;
$footer-background: $darkblue;

body {
	background-color: $lightblue;
	color: $text-color;
}

h1 {
	text-align: center;
}

#login_container {
	min-height: 30px;
}

#login-buttons {
	font-size: 1.5em;
	float: left;

	@media (min-width: 800px) {
		$width: 10vw;
		position: fixed;
		width: $width;
		right: 2vw;
		.login-link-text {
			position:absolute;
			right: 0;
		}
		.accounts-dialog {
			width: $width;
		}
	}

	@media (max-width: 800px) {
		width: 80vw;
		margin: 0 auto;
		text-align: center;
	}

	.login-link-text {
		border-radius: 3px;
		padding: 3px;
		margin: 3px;
		color: $text-color;
		font-weight: bolder;
		background-color: $darkblue;
		text-decoration: none;
	}
}

#admin-panel {
	@media (min-width: 600px) {
		width: 450px;
		margin: 0 auto;
	}

	text-align: center;
}

.page {
	padding-top: $topheader + 8px;
}

#fixed_footer {
	position:fixed;
	left:0px;
	bottom:0px;
	height: 50px;
	width: 100vw;
	background: $footer-background;
	.footer-button {
		width: 25vw;
		height: 25vw;
		max-height: 64px;
		margin: 0 -2px;
		padding: 0;
		border-width: 6px 3px;
		border-radius: 0;
		border-style: none;
	}
	.footer-button-left {
		border-left-style: none;
		border-right-style: solid;
		border-top-style: solid;
		border-bottom-style: none;
	}
	.footer-button-mid {
		border-left-style: solid;
		border-right-style: solid;
		border-top-style: solid;
		border-bottom-style: none;
	}
	.footer-button-right {
		border-left-style: solid;
		border-right-style: none;
		border-top-style: solid;
		border-bottom-style: none;
	}
}

button {
	border-radius: 3px;
	border-color: $darkblue;
	color: $yellow;
	background-color: $lightblue;
}

.games-list {
	list-style-type: none;
	width: 20vw;
	li {
		border-radius: 3px;
		border: 1px solid $darkblue;
		background-color: $darkblue;
		margin: 2px;
		position: relative;
		.description {

		}
		.immerse {
			border: none;
			position: absolute;
			right: 10%;
			height: 80%;
			top: 10%;
			width: 30%;
			font-size: 200%;
		}
		.controls {

		}
	}

	@media (max-width: 600px) {
		width: 80vw;
		margin: 0 auto;
	}
}

.cards {
	$width: 85vw;
	position: relative;
	.card {
		width: $width;
		height: 11/7 * $width;
		position: absolute;
		top: 0; left: 0;
		opacity: 0;
	}

	.top-card {
		position:relative;
		text-align: center;
		border: 1px solid $yellow;
		background-color: $darkblue
	}

	.card.shown {
		opacity: 1;
	}
}

.back {
	position: absolute;
	height: $topheader;
	top: 1vh;
	left: 1vh;
	font-size: 1.5em;
	border: 1px solid $yellow;

}
