<head>
	<title>Witchhunt</title>
</head>

<body>
	<h1>Witchhunt GDC Test!</h1>
	{{> loginButtons}}
	<ul>
		{{#if is_admin}}
			<button id="create-game">Create Game</button>
			{{#if is_cpi}}
				<button id="clear-all">Clear All Games</button>
			{{/if}}
			<form class="sandbox">
				<input type="text" name="text" placeholder="user sandbox"/>
			</form>
			{{/if}}
		{{#each game_dir}}
			{{> game_dir_entry}}
		{{/each}}
		{{#each game_selected}}
			{{> game_panel}}
		{{/each}}
	</ul>
</body>

<template name="game_dir_entry">
	<li><p class="game-dir-line">{{description}}</p>
		{{#if can_join}}
			<button class="join-game">Join</button>
		{{/if}}
		{{#if can_leave}}
			<button class="leave-game">Leave</button>
		{{/if}}
		{{#if is_mod}}
			{{#if is_signup}}
				<form class="add-player">
					<input type="text" name="text" placeholder="Add username"/>
				</form>
				<button class="debug-populate-game">Debug Populate</button>
				<button class="setup-game-base">Base Set</button>
				<button class="setup-game-halftime">Halftime</button>
				<button class="advance-game">Advance</button>
			{{/if}}
		{{/if}}
	</li>
</template>

<template name="game_panel">
	<p>{{description}}</p>
	<p>{{data}}</p>
	{{#each players}}
		{{>player}}
	{{/each}}
	<!--{{#each targets}}
		{{> target}}
	{{/each}}-->
	{{#each log_events}}
		{{> log_event}}
	{{/each}}
</template>

<template name="player">
	{{#if is_mod}}
		<!--<p>{{username}} permissions: {{player_permissions}}</p>-->
	{{else}}
		{{#each player_cards}}
			{{>player_card}}
		{{/each}}
	{{/if}}
</template>

<template name="player_card">
	<img src="{{player_card_uri}}">
</template>

<template name="target">
	<p>
	<span>Target: {{tag}} </span>
	{{#each target_list}}
		{{> target_selector}}
	{{/each}}
	</p>
</template>

<template name="target_selector">
	<select class="target-selector" id="{{index}}" value={{this}}>
		{{#each legal_inputs}}
			{{> target_selector_option}}
		{{/each}}
	</select>
</template>

<template name="target_selector_option">
	<option value={{this}} selected={{selected}}>{{text}}</option>
</template>

<template name="log_event">
	<p>{{log_parse}}</p>
</template>